In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data_22 = pd.read_csv('./Data/DonneesOuvertes2022.csv', sep=',')
data_23 = pd.read_csv('./Data/DonneesOuvertes2023.csv', sep=',')

In [4]:
data_22.head()

,STARTSTATIONNAME,STARTSTATIONARRONDISSEMENT,STARTSTATIONLATITUDE,STARTSTATIONLONGITUDE,ENDSTATIONNAME,ENDSTATIONARRONDISSEMENT,ENDSTATIONLATITUDE,ENDSTATIONLONGITUDE,STARTTIMEMS,ENDTIMEMS
0,St-Urbain / René-Lévesque,Ville-Marie,45.507838,-73.563136,Mansfield / Ste-Catherine,Ville-Marie,45.501399,-73.571786,1653343831220,1.653344e+12
1,Roy / St-Laurent,Le Plateau-Mont-Royal,45.515616,-73.575808,Dorion / Rachel,Le Plateau-Mont-Royal,45.531634,-73.568246,1653343831410,1.653345e+12
2,Lajeunesse / Villeray,Villeray - Saint-Michel - Parc-Extension,45.542119,-73.622547,Leman / de Chateaubriand,Villeray - Saint-Michel - Parc-Extension,45.547218,-73.631103,1653343832935,1.653344e+12
3,Parc Plage,Ville-Marie,45.502828,-73.527793,de la Commune / King,Ville-Marie,45.497515,-73.552571,1653343837732,1.653347e+12
4,Marie-Anne / de la Roche,Le Plateau-Mont-Royal,45.527758,-73.576185,Métro Laurier (Bibaud / Rivard),Le Plateau-Mont-Royal,45.527839,-73.589575,1653343832286,1.653344e+12

In [5]:
data_23.head()

,STARTSTATIONNAME,STARTSTATIONARRONDISSEMENT,STARTSTATIONLATITUDE,STARTSTATIONLONGITUDE,ENDSTATIONNAME,ENDSTATIONARRONDISSEMENT,ENDSTATIONLATITUDE,ENDSTATIONLONGITUDE,STARTTIMEMS,ENDTIMEMS
0,Gauthier / de Lorimier,Le Plateau-Mont-Royal,45.531674,-73.565413,Métro Frontenac (Ontario / du Havre),Ville-Marie,45.533706,-73.552179,1698248985976,1.698249e+12
1,Métro Papineau (Dorion / De Maisonneuve),Ville-Marie,45.523845,-73.552366,Dorion / Ontario,Ville-Marie,45.526991,-73.558212,1698256985216,1.698258e+12
2,Bloomfield / Bernard,Outremont,45.520688,-73.608428,Jeanne-Mance / St-Viateur,Le Plateau-Mont-Royal,45.523027,-73.601840,1698259921562,1.698260e+12
3,Larivière / de Lorimier,Ville-Marie,45.529134,-73.559234,St-Hubert / de Maisonneuve (sud),Ville-Marie,45.515868,-73.560084,1698258433474,1.698259e+12
4,de Maisonneuve / Mansfield (nord),Ville-Marie,45.502311,-73.573363,Métro Villa-Maria (de Monkland / Décarie),Côte-des-Neiges - Notre-Dame-de-Grâce,45.478968,-73.619599,1698261523775,1.698264e+12

In [6]:
start_station_counts_22 = data_22['STARTSTATIONNAME'].value_counts().reset_index()
start_station_counts_22.columns = ['station_name', 'count']
start_station_counts_22.head()

                                station_name  count
0  Métro Mont-Royal (Rivard / du Mont-Royal)  86315
1                      du Mont-Royal / Clark  56992
2                  Marquette / du Mont-Royal  56501
3    Métro Atwater (Atwater / Ste-Catherine)  50519
4                      Boyer / du Mont-Royal  48851

In [7]:
end_station_counts_22 = data_22['ENDSTATIONNAME'].value_counts().reset_index()
end_station_counts_22.columns = ['station_name', 'count']
end_station_counts_22.head()

                                station_name  count
0  Métro Mont-Royal (Rivard / du Mont-Royal)  72938
1      de la Commune / Place Jacques-Cartier  65913
2                  Marquette / du Mont-Royal  55967
3                 de la Commune / St-Sulpice  52200
4                      du Mont-Royal / Clark  49583

In [8]:
start_station_counts_23 = data_23['STARTSTATIONNAME'].value_counts().reset_index()
start_station_counts_23.columns = ['station_name', 'count']
start_station_counts_23.head()

                              station_name  count
0                Marquette / du Mont-Royal  70578
1                    du Mont-Royal / Clark  69495
2  Métro Atwater (Atwater / Ste-Catherine)  63763
3                    des Pins / St-Laurent  61939
4                    Boyer / du Mont-Royal  61826

In [9]:
end_station_counts_23 = data_23['ENDSTATIONNAME'].value_counts().reset_index()
end_station_counts_23.columns = ['station_name', 'count']
end_station_counts_23.head()

                            station_name  count
0  de la Commune / Place Jacques-Cartier  76174
1              Marquette / du Mont-Royal  69817
2                  des Pins / St-Laurent  59058
3                  du Mont-Royal / Clark  58768
4                  Boyer / du Mont-Royal  57628

In [10]:
start_station_merged = start_station_counts_22.merge(start_station_counts_23, on='station_name', how='inner')
start_station_merged.columns = ['station_name', 'count_22', 'count_23']
start_station_merged['total_count'] = start_station_merged['count_22'] + start_station_merged['count_23']
start_station_merged.head()

                              station_name  count_22  count_23  total_count
0                    du Mont-Royal / Clark     56992     69495       126487
1                Marquette / du Mont-Royal     56501     70578       127079
2  Métro Atwater (Atwater / Ste-Catherine)     50519     63763       114282
3                    Boyer / du Mont-Royal     48851     61826       110677
4                  Prince-Arthur / du Parc     46984     46694        93678

In [11]:
end_station_merged = end_station_counts_22.merge(end_station_counts_23, on='station_name', how='inner')
end_station_merged.columns = ['station_name', 'count_22', 'count_23']
end_station_merged['total_count'] = end_station_merged['count_22'] + end_station_merged['count_23']
end_station_merged.head()

                            station_name  count_22  count_23  total_count
0  de la Commune / Place Jacques-Cartier     65913     76174       142087
1              Marquette / du Mont-Royal     55967     69817       125784
2             de la Commune / St-Sulpice     52200     54804       107004
3                  du Mont-Royal / Clark     49583     58768       108351
4                  Boyer / du Mont-Royal     47304     57628       104932

## 150 Most Popular Stations over the course of the 2022 - 2023 BIXI seasons

In [26]:
all_merged = start_station_merged.merge(end_station_merged, on='station_name', how='inner')
all_merged['total_combined_count'] = all_merged['total_count_x'] + all_merged['total_count_y']
all_merged = all_merged[['station_name', 'total_combined_count']]
all_merged = all_merged.sort_values(by='total_combined_count', ascending=False)
all_merged.columns = ['STARTSTATIONNAME', 'total_combined_count']
all_merged = all_merged.head(n=150)
all_merged.head()

                          STARTSTATIONNAME  total_combined_count
1                Marquette / du Mont-Royal                252863
6    de la Commune / Place Jacques-Cartier                238897
0                    du Mont-Royal / Clark                234838
2  Métro Atwater (Atwater / Ste-Catherine)                216655
3                    Boyer / du Mont-Royal                215609

## 150 Most Popular Station Coordinates

In [31]:
station_locations = all_merged.merge(data_23[['STARTSTATIONNAME', 'STARTSTATIONLATITUDE', 'STARTSTATIONLONGITUDE']], on='STARTSTATIONNAME', how='inner')
station_locations = station_locations.drop_duplicates()
station_locations.head()

,STARTSTATIONNAME,total_combined_count,STARTSTATIONLATITUDE,STARTSTATIONLONGITUDE
0,Marquette / du Mont-Royal,252863,45.532290,-73.575440
70578,de la Commune / Place Jacques-Cartier,238897,45.507610,-73.551836
122320,du Mont-Royal / Clark,234838,45.519410,-73.586850
191815,Métro Atwater (Atwater / Ste-Catherine),216655,45.489476,-73.584566
255578,Boyer / du Mont-Royal,215609,45.527432,-73.579917

In [32]:
print(*station_locations['STARTSTATIONLATITUDE'])

45.53229 45.50761 45.51941 45.489476 45.527432 45.502813 45.504242 45.532514 45.50038 45.49683 45.51059 45.497515 45.518593 45.529408 45.513303 45.4941996 45.516427 45.5236149 45.53536 45.490452 45.51086 -1.0 45.525628 45.516091 45.517354 45.519088 45.5302211 45.5128006 45.5451997 45.517 45.51908 45.5201249 45.536346 45.512541 45.524287 45.480208 45.509361 45.4949751 45.53543 45.4875216 45.522719 45.5036663 45.508141 45.5166644 45.508567 45.50206 45.4918 45.544284 45.5082046 45.473868 45.526991 45.5224026 45.498112 45.5251603 45.537041 45.515092 45.523027 45.52353 45.550306 45.527201 45.5206338 45.532265 45.529666 45.471669 45.5251147 45.516876 45.5254742 45.522426 45.519216 45.522365 45.516897 45.518253 45.537114 45.52689 45.5435597 45.521564 45.507838 45.477605 45.5275891 45.518967 45.530871 45.527795 45.529802 45.533314 45.5137229 45.534136 45.5205595 45.53696 45.509759 45.533706 45.5428981 45.521496 45.493029 45.4836285 45.5359 45.5475583 45.521342 45.495709 45.520688 45.53848 45.50623 45.524628 45.549598 45.5158684 45.523856 45.54111 45.502145 45.52479 45.506511 45.5208024 45.536785 45.506371 45.50367 45.478228 45.5243588 45.515065 45.507402 45.5148664 45.51069 45.520524 45.51829 45.531783 45.5303513 45.5295036 45.505359 45.4959617 45.50723 45.537205 45.521751 45.54178 45.507078 45.537088 45.5070965 45.472668 45.5340705 45.512587 45.4938326 45.5070762 45.527009 45.5013987 45.5319579 45.459488 45.524518 45.531674 45.5365054 45.513405 45.5317737 45.5351901 45.514565 45.5278492

In [44]:
lat_lon_pairs = [(lat, lon) for lat, lon in zip(station_locations['STARTSTATIONLATITUDE'], station_locations['STARTSTATIONLONGITUDE'])]
print(lat_lon_pairs)

[(45.53229, -73.57544), (45.50761, -73.551836), (45.51941, -73.58685), (45.489476, -73.584566), (45.527432, -73.579917), (45.502813, -73.576024), (45.504242, -73.55347), (45.532514, -73.584811), (45.50038, -73.57507), (45.49683, -73.57913), (45.51059, -73.57547), (45.497515, -73.552571), (45.518593, -73.581566), (45.529408, -73.578154), (45.513303, -73.572961), (45.4941996, -73.5599846), (45.516427, -73.558112), (45.5236149, -73.5924574), (45.53536, -73.603635), (45.490452, -73.560172), (45.51086, -73.54983), (-1.0, -1.0), (45.525628, -73.581775), (45.516091, -73.570129), (45.517354, -73.582129), (45.519088, -73.569509), (45.5302211, -73.5769965), (45.5128006, -73.5311159), (45.5451997, -73.5764507), (45.517, -73.589), (45.51908, -73.5727), (45.5201249, -73.5952138), (45.536346, -73.57131), (45.512541, -73.570677), (45.524287, -73.604973), (45.480208, -73.577599), (45.509361, -73.573864), (45.4949751, -73.5777704), (45.53543, -73.5822), (45.4875216, -73.565003), (45.522719, -73.577204), (45.5036663, -73.5695761), (45.508141, -73.57493), (45.5166644, -73.5772204), (45.508567, -73.577698), (45.50206, -73.56295), (45.4918, -73.584006), (45.544284, -73.54534), (45.5082046, -73.5688144), (45.473868, -73.604538), (45.526991, -73.558212), (45.5224026, -73.5811767), (45.498112, -73.577615), (45.5251603, -73.5992467), (45.537041, -73.602026), (45.515092, -73.581142), (45.523027, -73.60184), (45.52353, -73.55199), (45.550306, -73.573353), (45.527201, -73.564729), (45.5206338, -73.563906), (45.532265, -73.611063), (45.529666, -73.567336), (45.471669, -73.582644), (45.5251147, -73.586006), (45.516876, -73.57946), (45.5254742, -73.5743251), (45.522426, -73.574184), (45.519216, -73.57718), (45.522365, -73.584146), (45.516897, -73.563949), (45.518253, -73.588338), (45.537114, -73.571003), (45.52689, -73.57264), (45.5435597, -73.627772), (45.521564, -73.570367), (45.507838, -73.563136), (45.477605, -73.573775), (45.5275891, -73.5890758), (45.518967, -73.583616), (45.530871, -73.598345), (45.527795, -73.571939), (45.529802, -73.57029), (45.533314, -73.583737), (45.5137229, -73.5603105), (45.534136, -73.595478), (45.5205595, -73.5858203), (45.53696, -73.61199), (45.509759, -73.576107), (45.533706, -73.552179), (45.5428981, -73.561846), (45.521496, -73.596827), (45.493029, -73.564818), (45.4836285, -73.5797026), (45.5359, -73.622443), (45.5475583, -73.5754719), (45.521342, -73.589419), (45.495709, -73.576952), (45.520688, -73.608428), (45.53848, -73.60556), (45.50623, -73.55976), (45.524628, -73.595811), (45.549598, -73.541874), (45.5158684, -73.5600838), (45.523856, -73.600127), (45.54111, -73.54755), (45.502145, -73.573427), (45.52479, -73.56545), (45.506511, -73.576669), (45.5208024, -73.5757989), (45.536785, -73.614888), (45.506371, -73.564201), (45.50367, -73.61848), (45.478228, -73.569651), (45.5243588, -73.5605344), (45.515065, -73.55923), (45.507402, -73.578444), (45.5148664, -73.5847586), (45.51069, -73.57805), (45.520524, -73.567697), (45.51829, -73.59235), (45.531783, -73.597793), (45.5303513, -73.6243924), (45.5295036, -73.6048646), (45.505359, -73.567741), (45.4959617, -73.5732535), (45.50723, -73.615085), (45.537205, -73.579254), (45.521751, -73.585268), (45.54178, -73.555714), (45.507078, -73.561395), (45.537088, -73.593219), (45.5070965, -73.5684416), (45.472668, -73.58539), (45.5340705, -73.5626507), (45.512587, -73.573739), (45.4938326, -73.5791422), (45.5070762, -73.5722852), (45.527009, -73.585766), (45.5013987, -73.5717863), (45.5319579, -73.607001), (45.459488, -73.572092), (45.524518, -73.571977), (45.531674, -73.565413), (45.5365054, -73.5680392), (45.513405, -73.562594), (45.5317737, -73.5724462), (45.5351901, -73.6154822), (45.514565, -73.568407), (45.5278492, -73.5918613)]

In [45]:
with open('./150_most_pop_station_coords.txt', 'w') as f:
    for lat_lon in lat_lon_pairs:
        f.write(f"{lat_lon}\n")

f.close()

In [46]:
with open('./150_most_pop_station_coords.txt', 'r') as f:
    for line in f.readlines():
        line = line.strip()
        lat, lon = line.strip()[1:len(line)-1].split(',')
        lat_lon_pairs.append((float(lat), float(lon)))

f.close()
print(lat_lon_pairs)

[(45.53229, -73.57544), (45.50761, -73.551836), (45.51941, -73.58685), (45.489476, -73.584566), (45.527432, -73.579917), (45.502813, -73.576024), (45.504242, -73.55347), (45.532514, -73.584811), (45.50038, -73.57507), (45.49683, -73.57913), (45.51059, -73.57547), (45.497515, -73.552571), (45.518593, -73.581566), (45.529408, -73.578154), (45.513303, -73.572961), (45.4941996, -73.5599846), (45.516427, -73.558112), (45.5236149, -73.5924574), (45.53536, -73.603635), (45.490452, -73.560172), (45.51086, -73.54983), (-1.0, -1.0), (45.525628, -73.581775), (45.516091, -73.570129), (45.517354, -73.582129), (45.519088, -73.569509), (45.5302211, -73.5769965), (45.5128006, -73.5311159), (45.5451997, -73.5764507), (45.517, -73.589), (45.51908, -73.5727), (45.5201249, -73.5952138), (45.536346, -73.57131), (45.512541, -73.570677), (45.524287, -73.604973), (45.480208, -73.577599), (45.509361, -73.573864), (45.4949751, -73.5777704), (45.53543, -73.5822), (45.4875216, -73.565003), (45.522719, -73.577204), (45.5036663, -73.5695761), (45.508141, -73.57493), (45.5166644, -73.5772204), (45.508567, -73.577698), (45.50206, -73.56295), (45.4918, -73.584006), (45.544284, -73.54534), (45.5082046, -73.5688144), (45.473868, -73.604538), (45.526991, -73.558212), (45.5224026, -73.5811767), (45.498112, -73.577615), (45.5251603, -73.5992467), (45.537041, -73.602026), (45.515092, -73.581142), (45.523027, -73.60184), (45.52353, -73.55199), (45.550306, -73.573353), (45.527201, -73.564729), (45.5206338, -73.563906), (45.532265, -73.611063), (45.529666, -73.567336), (45.471669, -73.582644), (45.5251147, -73.586006), (45.516876, -73.57946), (45.5254742, -73.5743251), (45.522426, -73.574184), (45.519216, -73.57718), (45.522365, -73.584146), (45.516897, -73.563949), (45.518253, -73.588338), (45.537114, -73.571003), (45.52689, -73.57264), (45.5435597, -73.627772), (45.521564, -73.570367), (45.507838, -73.563136), (45.477605, -73.573775), (45.5275891, -73.5890758), (45.518967, -73.583616), (45.530871, -73.598345), (45.527795, -73.571939), (45.529802, -73.57029), (45.533314, -73.583737), (45.5137229, -73.5603105), (45.534136, -73.595478), (45.5205595, -73.5858203), (45.53696, -73.61199), (45.509759, -73.576107), (45.533706, -73.552179), (45.5428981, -73.561846), (45.521496, -73.596827), (45.493029, -73.564818), (45.4836285, -73.5797026), (45.5359, -73.622443), (45.5475583, -73.5754719), (45.521342, -73.589419), (45.495709, -73.576952), (45.520688, -73.608428), (45.53848, -73.60556), (45.50623, -73.55976), (45.524628, -73.595811), (45.549598, -73.541874), (45.5158684, -73.5600838), (45.523856, -73.600127), (45.54111, -73.54755), (45.502145, -73.573427), (45.52479, -73.56545), (45.506511, -73.576669), (45.5208024, -73.5757989), (45.536785, -73.614888), (45.506371, -73.564201), (45.50367, -73.61848), (45.478228, -73.569651), (45.5243588, -73.5605344), (45.515065, -73.55923), (45.507402, -73.578444), (45.5148664, -73.5847586), (45.51069, -73.57805), (45.520524, -73.567697), (45.51829, -73.59235), (45.531783, -73.597793), (45.5303513, -73.6243924), (45.5295036, -73.6048646), (45.505359, -73.567741), (45.4959617, -73.5732535), (45.50723, -73.615085), (45.537205, -73.579254), (45.521751, -73.585268), (45.54178, -73.555714), (45.507078, -73.561395), (45.537088, -73.593219), (45.5070965, -73.5684416), (45.472668, -73.58539), (45.5340705, -73.5626507), (45.512587, -73.573739), (45.4938326, -73.5791422), (45.5070762, -73.5722852), (45.527009, -73.585766), (45.5013987, -73.5717863), (45.5319579, -73.607001), (45.459488, -73.572092), (45.524518, -73.571977), (45.531674, -73.565413), (45.5365054, -73.5680392), (45.513405, -73.562594), (45.5317737, -73.5724462), (45.5351901, -73.6154822), (45.514565, -73.568407), (45.5278492, -73.5918613), (45.53229, -73.57544), (45.50761, -73.551836), (45.51941, -73.58685), (45.489476, -73.584566), (45.527432, -73.579917), (45.502813, -73.576024), (45.504242, -73.55347), (45.532514, -73.584811), (45.50038, -73.57507), (45.49683, -73.57913), (45.51059, -73.57547), (45.497515, -73.552571), (45.518593, -73.581566), (45.529408, -73.578154), (45.513303, -73.572961), (45.4941996, -73.5599846), (45.516427, -73.558112), (45.5236149, -73.5924574), (45.53536, -73.603635), (45.490452, -73.560172), (45.51086, -73.54983), (-1.0, -1.0), (45.525628, -73.581775), (45.516091, -73.570129), (45.517354, -73.582129), (45.519088, -73.569509), (45.5302211, -73.5769965), (45.5128006, -73.5311159), (45.5451997, -73.5764507), (45.517, -73.589), (45.51908, -73.5727), (45.5201249, -73.5952138), (45.536346, -73.57131), (45.512541, -73.570677), (45.524287, -73.604973), (45.480208, -73.577599), (45.509361, -73.573864), (45.4949751, -73.5777704), (45.53543, -73.5822), (45.4875216, -73.565003), (45.522719, -73.577204), (45.5036663, -73.5695761), (45.508141, -73.57493), (45.5166644, -73.5772204), (45.508567, -73.577698), (45.50206, -73.56295), (45.4918, -73.584006), (45.544284, -73.54534), (45.5082046, -73.5688144), (45.473868, -73.604538), (45.526991, -73.558212), (45.5224026, -73.5811767), (45.498112, -73.577615), (45.5251603, -73.5992467), (45.537041, -73.602026), (45.515092, -73.581142), (45.523027, -73.60184), (45.52353, -73.55199), (45.550306, -73.573353), (45.527201, -73.564729), (45.5206338, -73.563906), (45.532265, -73.611063), (45.529666, -73.567336), (45.471669, -73.582644), (45.5251147, -73.586006), (45.516876, -73.57946), (45.5254742, -73.5743251), (45.522426, -73.574184), (45.519216, -73.57718), (45.522365, -73.584146), (45.516897, -73.563949), (45.518253, -73.588338), (45.537114, -73.571003), (45.52689, -73.57264), (45.5435597, -73.627772), (45.521564, -73.570367), (45.507838, -73.563136), (45.477605, -73.573775), (45.5275891, -73.5890758), (45.518967, -73.583616), (45.530871, -73.598345), (45.527795, -73.571939), (45.529802, -73.57029), (45.533314, -73.583737), (45.5137229, -73.5603105), (45.534136, -73.595478), (45.5205595, -73.5858203), (45.53696, -73.61199), (45.509759, -73.576107), (45.533706, -73.552179), (45.5428981, -73.561846), (45.521496, -73.596827), (45.493029, -73.564818), (45.4836285, -73.5797026), (45.5359, -73.622443), (45.5475583, -73.5754719), (45.521342, -73.589419), (45.495709, -73.576952), (45.520688, -73.608428), (45.53848, -73.60556), (45.50623, -73.55976), (45.524628, -73.595811), (45.549598, -73.541874), (45.5158684, -73.5600838), (45.523856, -73.600127), (45.54111, -73.54755), (45.502145, -73.573427), (45.52479, -73.56545), (45.506511, -73.576669), (45.5208024, -73.5757989), (45.536785, -73.614888), (45.506371, -73.564201), (45.50367, -73.61848), (45.478228, -73.569651), (45.5243588, -73.5605344), (45.515065, -73.55923), (45.507402, -73.578444), (45.5148664, -73.5847586), (45.51069, -73.57805), (45.520524, -73.567697), (45.51829, -73.59235), (45.531783, -73.597793), (45.5303513, -73.6243924), (45.5295036, -73.6048646), (45.505359, -73.567741), (45.4959617, -73.5732535), (45.50723, -73.615085), (45.537205, -73.579254), (45.521751, -73.585268), (45.54178, -73.555714), (45.507078, -73.561395), (45.537088, -73.593219), (45.5070965, -73.5684416), (45.472668, -73.58539), (45.5340705, -73.5626507), (45.512587, -73.573739), (45.4938326, -73.5791422), (45.5070762, -73.5722852), (45.527009, -73.585766), (45.5013987, -73.5717863), (45.5319579, -73.607001), (45.459488, -73.572092), (45.524518, -73.571977), (45.531674, -73.565413), (45.5365054, -73.5680392), (45.513405, -73.562594), (45.5317737, -73.5724462), (45.5351901, -73.6154822), (45.514565, -73.568407), (45.5278492, -73.5918613)]

## QGIS Script

In [48]:
from qgis.core import QgsFeature, QgsField, QgsFields, QgsVectorLayer, QgsProject, QgsPointXY, QgsCoordinateReferenceSystem

lat_lon_pairs = []
with open('/Users/itai-epstein/Documents/Development/bixi_winter_pilot/150_most_pop_station_coords.txt', 'r') as f:
    for line in f.readlines():
        line = line.strip()
        x = line.strip()[1:len(line)-1].split(',')
        lat_lon_pairs.append((float(x[0]), float(x[1])))

# Define the desired coordinate reference system (CRS) with geographic (lat/long) coordinates
desired_crs = QgsCoordinateReferenceSystem('EPSG:4326')  # WGS 84

# Create a memory layer for points
point_layer = QgsVectorLayer('Point?crs=' + desired_crs.authid(), 'PointLayer', 'memory')

# Define fields for the layer
fields = QgsFields()
fields.append(QgsField('Latitude', QVariant.Double))
fields.append(QgsField('Longitude', QVariant.Double))
point_layer.dataProvider().addAttributes(fields)
point_layer.updateFields()

# Set the coordinate system for the layer
point_layer.setCrs(desired_crs)

# Create points and add them to the layer
features = []
for lat, lon in lat_lon_pairs:
    point = QgsPointXY(lon, lat)
    feature = QgsFeature()
    feature.setGeometry(QgsGeometry.fromPointXY(point))
    feature.setAttributes([lat, lon])
    features.append(feature)

point_layer.dataProvider().addFeatures(features)

# Add the layer to the map
QgsProject.instance().addMapLayer(point_layer)

# Refresh the map canvas
iface.mapCanvas().refresh()